:root {
    --mint: rgb(159, 235, 231);
    --text: black;
    --fush: fuchsia;
    --head: rgb(72, 228, 72);
}

header {
    background-color: rgb(197, 197, 191);
    display: flex inline;
    padding: 2px;
    color: var(--text);
}

h1 {
    display: inline-block;
    font-size: 45px;
}

nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-size: 20px;
}

nav ul li {
    display: inline-block;
    margin-left: 25px;
}

body {
    background-image: linear-gradient(var(--mint), rgb(69, 102, 211));
    color: var(--text);
    font-size: 20px;
}

#aboutme {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.selfie {
    float: right;
    border-radius: 28px;
    padding: 10px;
    margin-bottom: 12px;
    border:1px solid var(--text);
    background-color: var(--fush);
}

#mywork {
    margin-top: 8px;
    display: flex;
    flex-wrap: wrap;
}

.largecard {
    flex: 1 0 100%;
}

.smallcard {
    flex: 1 0 0;
}

.sample {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: auto;
    color: var(--text);
    border: 8px solid var(--head);
    transition: all 0.5s ease-in-out;
    border-radius: 20px;
    margin-top: 20px;
    display: inline-block;
}

h2 {
    text-align: center;
    margin-top: 20px;
}

h3 {
    position: relative;
    text-align: center;
    margin: -18px 60px 2px 60px;
    padding: 2px;
    background-color: var(--fush);
    color: wheat;
    border: 2px solid var(--head);  
    border-radius: 20px;
    transition: all 0.5s ease-in-out;
}

.hover {
    width: 100%;
    height: auto;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.sample:hover,
.sample:hover h3 {
    opacity: 0.7;
}

#close {
    font-weight: bold;
    text-align: center;
    color: var(--mint);
}

#contact {
    font-weight: bold;
    text-align: center;
    color: var(--fush);
}

footer{
    font-weight: bolder;
    text-align: center;
    color: var(--mint);
}