/* root variables set to keep color selections accurate*/
:root {
    --mint: rgb(159, 235, 231);
    --text: black;
    --fush: fuchsia;
    --head: #CAB7D2;
}

header {
    background-color: rgb(245, 245, 161);
    display: flex inline;
    padding: 2px;
    color: var(--text);
}

header {
    animation-name: rainbow;
    animation-duration: 4s;
    animation-iteration-count: 4;
  }

  @keyframes rainbow {
    0% {
      background-color: rgb(245, 245, 161);
    }
    50% {
      background-color: var(--mint);
    }
    100% {
      background-color: lime;
    }
  }

h1 {
    display: inline-block;
    font-size: 45px;
}

nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-size: 20px;
}

nav ul li {
    display: inline-block;
    margin-left: 25px;
}

body {
    background-image: linear-gradient(35deg, #CCFFFF,#FFCCCC);
    color: var(--text);
    font-size: 20px;
}

#aboutme {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.selfie {
    float: right;
    border-radius: 50%;
    padding: 10px;
    margin-bottom: 12px;
    margin-left: 20px;
    border:2px solid var(--mint);
    background-color: var(--head);
    box-shadow: 0 10px 20px rgba(255,0,255,0.51), 0 6px 6px rgba(255,0,255,0.63);
}

.me {
    padding: 60px;

}
/*the overall my work section*/
#mywork {
    margin-top: 8px;
    display: flex;
    flex-wrap: wrap;
}
/*styles for the one largest card*/
.largecard {
    margin-left: 10%;
    flex: 1 0 100%;
}

/*styles for all the other smaller work sample cards*/
.smallcard {
    flex: 1 0 0;
}

.sample {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: auto;
    color: var(--text);
    border: 8px solid yellow;
    transition: all 0.5s ease-in-out;
    border-radius: 20px;
    margin-top: 20px;
    display: inline-block;
    transform: skewX(-5deg);
}

h2 {
    text-align: left;
    margin-top: 20px;
    color: black;
    padding-left: 25px;
    float: left;
}

h3 {
    position: relative;
    text-align: center;
    margin: -18px 60px 2px 60px;
    padding: 2px;
    background-color: var(--fush);
    color: wheat;
    border: 2px solid var(--head);  
    border-radius: 20px;
    transition: all 0.5s ease-in-out;
}

.links {
    position: relative;
    text-align: center;
    margin: -18px 60px 2px 60px;
    padding: 6px;
    background-color: var(--fush);
    color: wheat;
    border: 2px solid var(--head);  
    border-radius: 20px;
    transition: all 0.5s ease-in-out;
}

/*added hover effects for aesthetics*/
.hover {
    width: 100%;
    height: auto;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

/*added hover effects so that the image would react when the user hovers. Indicating a clickable item.*/
.sample:hover,
.sample:hover h3 {
    opacity: 0.7;
}

#close {
    font-weight: bold;
    text-align: center;
    color: black;
}

#contact {
    font-weight: bold;
    text-align: center;
    color: #230033;
}

footer{
    font-weight: bolder;
    text-align: center;
    color: #230033;
    
}